
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */

div {
    padding: 0.5em;
    margin: 1em;
    width: 25%
}

#one {
    border: 5px solid #1a41f5;
    position: absolute;
    bottom: 0;
    right: 0;
}

#two {
    border: 5px solid #397e26;
    position: absolute;
    top: 0;
    right: 0;
}

#three {
    border: 5px solid #f1ab37;
    position: absolute;
    top: 0;
    left: 0;
}

#four {
    border: 5px solid #f9d947;
    position: absolute;
    bottom: 0;
    left: 0;
}

#link {
    background-color: #0a4b33;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: .5em;
}

a {
    color: #EEEEEE;
}